n8n/workflows/all_workflows.json
[{"createdAt":"2025-09-21T17:09:54.952Z","updatedAt":"2025-09-22T15:58:28.000Z","id":"r4pRouD3TRKkK9P9","name":"course-workflows","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"course-form","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"85893754-8842-4490-82b8-6751bb091d42","name":"Webhook","webhookId":"f15ed9ec-0f07-4e2e-971f-505a76111d0c"},{"parameters":{"assignments":{"assignments":[{"id":"c4b2e628-0626-4119-9c53-67f185e6dbae","name":"body.userId","value":"={{ $json.body.userId }}","type":"string"},{"id":"b395e8b4-3040-4dde-8e7e-d790f7e75389","name":"body.pageName","value":"={{ $json.body.pageName }}","type":"string"},{"id":"3ca6f96e-bc6e-4194-881b-45abf0ef0431","name":"body.pageVariant","value":"={{ $json.body.pageVariant }}","type":"string"},{"id":"9c68532f-3edd-4595-b8d0-7758370b77e7","name":"body.startTime","value":"={{ $json.body.startTime }}","type":"number"},{"id":"e44934d4-398d-43e6-945b-b9774cbf855b","name":"body.timeSpent_sec","value":"={{ $json.body.timeSpent_sec }}","type":"number"},{"id":"2439671a-1b97-43e6-a330-c438da8d0dc7","name":"body.scrollDepth_perc","value":"={{ $json.body.scrollDepth_perc }}","type":"number"},{"id":"90eebf7a-c803-4507-bde8-bc69419b1538","name":"body.finalAction","value":"={{ $json.body.finalAction }}","type":"string"},{"id":"df7fd3ed-3089-40ad-8d8e-6d999367abab","name":"body.navigationPath","value":"={{ JSON.stringify($json.body.navigationPath) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ee656f2d-49cc-4c03-acac-accdd055283b","name":"Edit Fields"},{"parameters":{"jsCode":"const Database = require('better-sqlite3');\n\n// Получаем данные от предыдущей ноды \"Set\"\nconst items = $input.all();\n// Указываем путь к нашей базе данных\nconst dbPath = '/home/nur/dev/it-course-landing/course.sqlite';\n// Подключаемся к БД\nconst db = new Database(dbPath);\n\ntry {\n\n  // Готовим SQL-запрос с именованными параметрами\n  const stmt = db.prepare(`\n    INSERT INTO user_events (\n        received_at,\n        user_id,\n        page_name,\n        page_variant,\n        time_spent_sec,\n        scroll_depth_perc,\n        final_action,\n        navigation_path\n    ) VALUES (\n        datetime('now'),\n        @user_id,\n        @page_name,\n        @page_variant,\n        @time_spent_sec,\n        @scroll_depth_perc,\n        @final_action,\n        @navigation_path\n    )\n  `);\n\n  // Выполняем запрос для каждого элемента, пришедшего в ноду\n  for (const item of items) {\n    stmt.run({\n      user_id: item.json.body.userId,\n      page_name: item.json.body.pageName,\n      page_variant: item.json.body.pageVariant,\n      time_spent_sec: item.json.body.timeSpent_sec,\n      scroll_depth_perc: item.json.body.scrollDepth_perc,\n      final_action: item.json.body.finalAction,\n      navigation_path: item.json.body.navigationPath\n    });\n  }\n \n  // Возвращаем сообщение об успехе\n  return [{\n    json: {\n      success: true,\n      message: `Данные успешно добавлены: ${items.length} шт.`\n    }\n  }];\n\n} catch (error) {\n  // Если произойдет ошибка, рабочий процесс остановится и покажет ее\n  throw new Error(`Ошибка при работе с базой данных: ${error.message}`);\n} finally {\n  // Этот блок выполнится всегда: и при успехе, и при ошибке\n  if (db && db.open) {\n    db.close();\n    // console.log('Соединение с БД закрыто.'); // Можно добавить для отладки\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"190fd5ca-ac59-4d1f-bf74-6e486607f852","name":"Code in JavaScript"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-length":"498","sec-ch-ua":"\"Not/A)Brand\";v=\"8\", \"Chromium\";v=\"126\", \"Google Chrome\";v=\"126\"","sec-ch-ua-platform":"\"Linux\"","sec-ch-ua-mobile":"?0","user-agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36","content-type":"application/json","accept":"*/*","origin":"null","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","accept-encoding":"gzip, deflate, br, zstd","accept-language":"ru,ru-RU;q=0.9,en-US;q=0.8,en;q=0.7"},"params":{},"query":{},"body":{"userId":"4ffb4e63f4e0a4f8","pageName":"index","pageVariant":"v1_initial","startTime":1758554161334,"timeSpent_sec":23,"scrollDepth_perc":100,"finalAction":"close_on_tab_contacts","navigationPath":[{"fromTab":"about-of-course","toTab":"about-of-me","scroll_perc":100,"timestamp":"2025-09-22T15:16:14.472Z"},{"fromTab":"about-of-me","toTab":"ts","scroll_perc":100,"timestamp":"2025-09-22T15:16:17.016Z"},{"fromTab":"ts","toTab":"contacts","scroll_perc":100,"timestamp":"2025-09-22T15:16:21.833Z"}]},"webhookUrl":"http://localhost:5678/webhook-test/course-form","executionMode":"test"}}]},"versionId":"61801d88-40da-43ca-9a24-f08e44e03901","triggerCount":1,"tags":[{"createdAt":"2025-09-22T15:48:34.378Z","updatedAt":"2025-09-22T15:48:34.378Z","id":"K7DsIngNq17mgFfC","name":"new lid"},{"createdAt":"2025-09-22T15:48:28.562Z","updatedAt":"2025-09-22T15:48:28.562Z","id":"TUpcUygpHFQfXIRQ","name":"new user"}],"shared":[{"createdAt":"2025-09-21T17:09:54.962Z","updatedAt":"2025-09-21T17:09:54.962Z","role":"workflow:owner","workflowId":"r4pRouD3TRKkK9P9","projectId":"ZLobYRAmK59XhJbd","project":{"createdAt":"2025-09-21T12:43:06.274Z","updatedAt":"2025-09-21T12:44:13.643Z","id":"ZLobYRAmK59XhJbd","name":"Nur Ama <nur.ama@gis-expert.kz>","type":"personal","icon":null,"description":null}}]}]